@import '../abstract/variables';
@import '../abstract/base';

.cabinet_section {
  background-color: $isa-rouge-medium;
  color: $isa-white;

  .cabinet_container {

    padding: 2rem 1rem;

    .cabinet_title {
      font-size: $h2;
      text-transform: uppercase;
      margin: 0;
      padding: 2rem 1rem;
      font-weight: $extraLight;
      letter-spacing: .1rem;
    }



    .cabinet_carousel {
      width: 100%;
      max-width: none;
      overflow: hidden;

      .cabinet_carousel_buttons {
        display: none;
        
      }
    }
    
    .cabinet_slides {
      display: flex;
      width: 200%;
      transition: transform 1s ease-in-out;
    }
    
    .cabinet_slide {
      width: 100%;
      flex-shrink: 0;

      .cabinet_slide_title {

        width: 50%;
        padding: 0 1rem;
        font-size: $h4;
        font-weight: 400;
        margin: .5rem 0;
        
        font-size: $h5;
      }

      .cabinet_slide_texte {
        hyphens: auto;
        width: 50%;
        padding: 0 6px;
        margin: .5rem 0;
        font-size: $paragraph-small;

      }
    
    }
    
    .cabinet_slide img {
      width: 50%;
      display: block;
      border-radius: 24px;
      height: 356px;
      object-fit: cover;
    }

  }

}


@media (min-width:768px) {

.cabinet_section {
  background-color: $isa-rouge-medium;
  color: $isa-white;

  .cabinet_container {

    padding: 2rem 5rem;

    .cabinet_title {
      font-size: $h1;
      text-transform: uppercase;
      margin: 2rem 0;
      padding: 0;
      font-weight: $extraLight;
      letter-spacing: .1rem;
    }



    .cabinet_carousel {
      width: 100%;
      max-width: none;
      overflow: hidden;


      .cabinet_carousel_buttons {
        display: none;
        
      }
    }
    
    .cabinet_slides {
      display: flex;
      width: 400%;
      transition: transform 1s ease-in-out;
    }
    
    .cabinet_slide {
      width: 100%;
      flex-shrink: 0;

      .cabinet_slide_title {

        width: 100%;
        padding: 0;
        font-weight: 400;
        margin: .5rem 0;
        
        font-size: $h2;
      }

      .cabinet_slide_texte {
        hyphens: auto;
        width: calc(100vw - 10rem);
        padding: 0px 0rem;
        margin: 0.5rem 0;

        font-size: $paragraph-lead;

      }
    
    }
    
    .cabinet_slide img {
      width: 25%;
      display: block;
      height: 624px;
      object-fit: cover;
      border-radius: 24px;
    }

  }

}
}
@media (min-width:1440px) {

.cabinet_section {
  background-color: $isa-rouge-medium;
  color: $isa-white;

  .cabinet_container {

    padding: 2rem 13rem;
    max-width: 1854px;
    margin: auto;

    .cabinet_title {
      font-size: $h1;
      text-transform: uppercase;
      margin: 2rem 0;
      padding: 0;
      font-weight: $extraLight;
      letter-spacing: .1rem;
    }



    .cabinet_carousel {
      width: 100%;
      max-width: none;
      overflow: hidden;

      .cabinet_carousel_buttons {
        display: flex;
        position: relative;
        top: -324px;
        
      }
  
      .cabinet_carousel_button {
        position: relative;
        background-color: rgba(255, 255, 255, 0.756);
        transition: background-color ease 120ms;
        color: $isa-rouge-medium;
        border: none;
        cursor: pointer;
        border-radius: 50%;
        user-select: none;
  
        font-size: 56px;
        width: 72px;
        height: 72px;
        margin-right: 16px;
      }
  
      
      .cabinet_carousel_button:hover {
          background-color: $isa-white;
          
      }
  
    }
    
   
    .cabinet_slides {
      display: flex;
      width: 400%;
      transition: transform 1s ease;
    }
    .cabinet_slide {
      width: 100%;
      display: flex;
      flex-shrink: 0;
      flex-direction: column;
      flex-wrap: wrap;
      height: 624px;
      align-content: space-between;
      padding-right: 75%;
      


      .cabinet_slide_title {

        width: 33%;
        padding: 0;
        font-weight: 400;
        margin: .5rem 0;
        
        font-size: $h2;
        order: 0;
      }

      .cabinet_slide_texte {
        hyphens: auto;
        width: 33%;
        padding: 0px 0rem;
        margin: 0.5rem 0;

        font-size: $paragraph-lead;
        order: 1;

      }
    
    }
    
    .cabinet_slide img {
      width: 55%;
      display: block;
      height: 624px;
      object-fit: cover;
      order: 2;
      border-radius: 24px;
    }

  }

}
}