@import '../abstract/base';
@import '../abstract/variables';

.contact_section {

  .contact_container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;


    .contact_message-box {
      width: 100%;
      margin: 0 0 4rem 0;



      .contact_orange-stroke {
        height: 8px;
        border-radius: 0 24px 24px 0;
        width: 50%;
        background-color: #A86F58;
        margin: 0 auto 0 0;

      }

      .contact_green-stroke {
        height: 8px;
        border-radius: 24px 0 0 24px;
        width: calc(100% - 2rem);
        background-color: #997F54;
        margin: 0 0 0 auto;

      }

      .contact_title {
        font-size: $h2;
        width: 100%;
        margin: 1rem 0;
        
      }

      .contact_texte {
        font-size: $paragraph-secondary;
        padding: 0;
        width: 100%;

        .contact_reseaux {
          color: #995c54 !important;
          font-size: $h3;

          a {
            padding: .5rem;
          }
        }

        ul {
          list-style: none;
          padding: 0;


        }

        table {
          width: 100%;

          tbody {
            tr {
              
              &:nth-of-type(2n) {
                background-color: #b39e7d21;
               }


              th, td {
                padding: 1rem;
                text-align: left;



              }
          
             }

          }

        }

      }

      .contact_align-right {
        text-align: left;
        padding: 0 2rem;
   
      }
      .contact_align-left {
        text-align: left;
        padding: 0 2rem;
       
      }

    }


  }


}



@media screen and (min-width:768px) {

  .contact_section {

    .contact_container {
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;


      .contact_message-box {
        width: 42.5%;

        .contact_orange-stroke {
          height: 8px;
          border-radius: 0 24px 24px 0;
          width: 100%;
          background-color: #A86F58;
          margin: 0 auto 0 0;

        }

        .contact_green-stroke {
          height: 8px;
          border-radius: 24px 0 0 24px;
          width: 100%;
          background-color: #997F54;
          margin: 0 0 0 auto;

        }

        .contact_title {
          font-size: $h2;
          width: 100%;
          margin: 1rem 0;
          
        }

        .contact_texte {
          font-size: $paragraph;
          padding: 0;
          width: 100%;


          ul {
            list-style: none;
            padding: 0;



          }

          table {
            width: auto;

            tbody {
              tr {
                
                &:nth-of-type(2n) {
                  background-color: #b39e7d21;
                 }
  
  
                th, td {
                  padding: 1rem;
                  text-align: left;



                }
            
               }

            }

          }

        }

        .contact_align-right {
          text-align: right;
          padding: 0;
     
        }
        .contact_align-left {
          text-align: left;
          padding: 0;
        }

      }


    }


  }



}
@media screen and (min-width:1440px) {

  .contact_section {

    .contact_container {
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;


      .contact_message-box {
        width: 42.5%;

        .contact_orange-stroke {
          height: 8px;
          border-radius: 0 24px 24px 0;
          width: 100%;
          background-color: #A86F58;
          margin: 0 auto 0 0;

        }

        .contact_green-stroke {
          height: 8px;
          border-radius: 24px 0 0 24px;
          width: 100%;
          background-color: #997F54;
          margin: 0 0 0 auto;

        }

        .contact_title {
          font-size: $h2;
          width: 100%;
          margin: 1rem 0;
          
        }

        .contact_texte {
          font-size: $paragraph;
          padding: 0;
          width: 100%;


          ul {
            list-style: none;
            padding: 0;



          }

          table {
            width: auto;
            tbody {
              tr {
                
                &:nth-of-type(2n) {
                  background-color: #b39e7d21;
                 }
  
  
                th, td {
                  padding: 1rem;
                  text-align: left;



                }
            
               }

            }

          }

        }

        .contact_align-right {
          text-align: right;
          padding: 0;
     
        }
        .contact_align-left {
          text-align: left;
          padding: 0;
        }

      }


    }


  }



}