@import '../abstract/base';
@import '../abstract/variables';

header {
  display: flex;
  flex-wrap: wrap;
  background-color: $isa-white;
  height: auto;
  justify-content: space-between;
  align-items: stretch;
  margin: 0;


  .header_logo {
    z-index: 5;
    
    width: 160px;
    padding: 1rem 0;
    margin: 0 0 0 1.5rem;


    a {
      display: block;
      width: 100%;
      height: 100%;
      content: url('../assets/imgs/Right_logo.svg');
    }
  }

  .header_menu-button {
    display: block;
    z-index: 5;
    cursor: pointer;

    padding: 0 1.5rem;
    background: none;
    border: none;
    color: currentColor;
    font-size: 36px !important;
  }

  .header_nav--none {
    display: none;
  }

  .header_nav--active {
    z-index: 4;
    background-color: $isa-white;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 95px;
    box-shadow: none;


    ul{

      margin: 0;
      display: flex;
      flex-wrap: wrap;
      align-content: start;

      li {

        margin: 1rem 0;
        width: 100%;

        a {
        color: $isa-rouge-light;
        display: flex;
        justify-content: start;
        letter-spacing: 0.1em;
        font-size: $paragraph;
        padding: 1.33em;

          &:hover {
            color: $highlight;

          }
        }

      }


    } 
  }
}




@media screen and (min-width:768px) {
  header {
    display: flex;
    flex-wrap: wrap;
    background-color: $isa-white;
    height: auto;
    justify-content: space-between;
    align-items: stretch;
    
    margin: 0;
  
  
    .header_logo {
      z-index: 5;
      
      width: 200px;
      padding: 1.5rem 0;
      margin: 0 0 0 3rem;
  
  
      a {
        display: block;
        width: 100%;
        height: 100%;
        content: url('../assets/imgs/Right_logo.svg');
      }
    }
  
    .header_menu-button {
      display: block;
      z-index: 5;
      cursor: pointer;
  
      padding: 0px 3rem 0 1rem;
      background: none;
      border: none;
      color: currentColor;
      font-size: 36px !important;
    }
  
    .header_nav--none {
      display: none;
    }
  
    .header_nav--active {
      z-index: 4;
      background-color: $isa-white;
      display: flex;
      position: absolute;
      width: 50%;
      height: 100%;
      right: 0;
      top: 119px;
  
      box-shadow: #82494114 0px 35px 30px 0px;
  
      ul{
  
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-content: start;
  
        li {
  
          margin: 1rem 0;
          width: 100%;
  
          a {
          color: $isa-rouge-light;
          display: flex;
          justify-content: end;
          letter-spacing: 0.1em;
          font-size: $paragraph;
          padding: 1.33em 4em ;

            &:hover {

              color: $highlight;
            }
          }

  
        }
  
  
      } 
    }
  }
}

@media screen and (min-width:1440px) {
  header {
    display: flex;
    flex-wrap: nowrap;
    background-color: #fff;
    height: auto;
    justify-content: space-between;
    align-items: stretch;
    max-width: 1600px;
    margin: 0 auto;
    
  
  
    .header_logo {
      z-index: 5;
      
      width: 240px;
      padding: 1.5rem 0;
      margin: 0 0 0 3rem;
  
  
      a {
        display: block;
        width: 100%;
        height: 100%;
        content: url('../assets/imgs/Right_logo.svg');
      }
    }
  
    .header_menu-button {

      display: none;

      z-index: 5;
      cursor: pointer;
  
      padding: 0px 3rem 0 1rem;
      background: none;
      border: none;
      color: currentColor;
      font-size: 36px !important;
    }
  
    .header_nav--none {
      margin-right: 6rem;
      z-index: 4;
      background-color: $isa-white;
      display: flex;
      position: relative;
      width: 100%;
      height: auto;
      right: auto;
      top: auto;
      box-shadow: none;
  
      ul{
  
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        width: 100%;
        justify-content: end;
  
        li {

          height: 100%;
          margin: 0;
          width: auto;
  
          a {
            color: $isa-rouge-light;
            display: flex;
            justify-content: end;
            letter-spacing: 0.1em;
            font-size: 18px;
            padding: 0 2em;
            height: 100%;
            align-items: center;

            &:hover {

              color: $highlight;
            }
          }

  
        }
  
  
      } 
    }
  
    .header_nav--active {
      z-index: 4;
      background-color: $isa-white;
      display: flex;
      position: relative;
      width: 100%;
      height: auto;
      right: auto;
      top: auto;
  
      box-shadow: none;
  
      ul{
  
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        width: 100%;
        justify-content: end;
  
        li {

          height: 100%;
          margin: 0;
          width: auto;
  
          a {
            color: $isa-rouge-light;
            display: flex;
            justify-content: end;
            letter-spacing: 0.1em;
            font-size: 18px;
            padding: 0 2em;
            height: 100%;
            align-items: center;

            &:hover {

              color: $highlight;
            }
          }

  
        }
  
  
      } 
    }
  }
}
