@import '../abstract/base';
@import '../abstract/variables';

.hero_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1rem;
  margin: 6rem 0 2rem 0;

  img {
    order: 1;
    width: 75%;
    margin: 0 0 1rem 0;
  }

  .hero_description {
    order: 2;
    display: flex;
    flex-direction: column;

    .hero_title {
      font-size: $h5;
      margin: 0 0 1rem 0;
      text-transform: uppercase;

      letter-spacing: 0;
      line-height: 1.25em;
    }

    .hero_paragraph{
      font-size: $paragraph-secondary;
      margin: 0 0 2rem 0;
      hyphens: auto;
    }

    .hero_primary-button {
      font-weight: 500;
      border: solid 2px transparent;
      color: white;
      background-color: $highlight-hover;
      order: 2;
    }

    .hero_secondary-button{
      order: 1;
      border: solid 2px $isa-orange-light;
      color: $isa-orange-light;
      background-color: $isa-white;
    }

    .hero_secondary-button, .hero_primary-button{
      margin: 0 0 1rem 0;
      padding: 16px 12px;
      border-radius: 8px;
      text-transform: uppercase;

      transition:  ease-in-out 200ms, border-color ease-in-out 200ms, color ease-in-out 200ms;
      
      text-align: center;
      font-size: $paragraph-secondary;
      letter-spacing: 0.1em;
    }


  }


}

@media (min-width:768px) {

  .hero_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 5rem;
    margin: 5rem 0 3rem 0;
  
    img {
      order: 1;
      width: 50%;
      margin: 0 0 2rem 0;
    }
  
    .hero_description {
      order: 2;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
  
      .hero_title {
        font-size: $h2;
        margin: 0 0 1rem 0;
        text-transform: uppercase;
        letter-spacing: 0.15rem;
        line-height: 1.25em;
      }
  
      .hero_paragraph{
        font-size: $paragraph-secondary;
        margin: 0 0 2rem 0;
      }

      .hero_secondary-button, .hero_primary-button{
        text-transform: uppercase;
        margin: 0 0 1rem 0;
        padding: 16px 12px;
        border-radius: 8px;
        text-align: center;
        font-size: 18px;
        letter-spacing: 0.1em;
        
      }
  
      .hero_primary-button {
        font-weight: 500;
        border: solid 2px transparent;
        color: white;
        background-color: $highlight-hover;
        width: 66%;
        order: 2;

        &:active, &:hover {
          background-color: $highlight-hover;
        }
  
      }
  
      .hero_secondary-button{
        border: solid 2px $isa-orange-light;
        color: $isa-orange-light;
        background-color: #fff;
        width: 33%;
        order: 1;
      }
  

  
  
    }
  
  }
}


@media (min-width:1440px) {
  main {
    margin: auto;
    max-width: 1600px;
  }
  

  .hero_container {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 6rem 0;
  
    img {
      order: 2;
      width: 25%;
      margin: 0 0 0 4rem;
      -o-object-fit: contain;
      object-fit: contain;
    }
  
    .hero_description {
      order: 1;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      width: 40%;
      margin: 0 4rem 0 0;
  
      .hero_title {
        font-size: $h1;
        margin: 0 0 0 0;
        text-transform: uppercase;
        letter-spacing: 0.15rem;
        line-height: 1.25em;
      }
  
      .hero_paragraph{
        font-size: $paragraph-lead;
        margin: 0 0 2rem 0;
      }

      .hero_secondary-button, .hero_primary-button{
        margin: 0 0 0 0;
        padding: 16px 0;
        border-radius: 8px;
        text-align: center;
        font-size: 18px;
        letter-spacing: 0;
        text-transform: uppercase;
        font-weight: 500;
      }
  
      .hero_primary-button {
        border: solid 2px transparent;
        color: white;
        background-color:$highlight-hover;
        width: 64%;
        order: 2;

        
        &:hover {
          background-color: $highlight;
          border: solid 2px transparent;
          
        }
  
      }
  
      .hero_secondary-button{
        border: solid 2px $isa-orange-light;
        color: $isa-orange-light;
        background-color: #fff;
        width: 33%;
        order: 1;

        &:hover {
          color: $isa-rouge-hover;
          border: solid 2px $isa-rouge-hover;
          
        }
      }
  

  
  
    }
  
  }
}