@import '../abstract/base';
@import '../abstract/variables';

.motifs_container {
  text-align: justify;
  width: 100%;


  .motifs_title {
    font-size: $h6;
    font-weight: $extraLight ;
    color: $isa-rouge-dark;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: .1rem;
    padding: 0 1rem;
  }

  .motifs_card-box {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 2rem 0;
    flex-wrap: wrap;
    border-radius: 24px;
    padding: 0 1rem;


    #baby-bg {
      background: radial-gradient(closest-corner, transparent,transparent, #fff), no-repeat center/cover url("../assets/imgs/cards/baby_card_cover.jpg");
    }

    #child-bg {
      background: radial-gradient(closest-corner, transparent,transparent, #fff), no-repeat center/cover url("../assets/imgs/cards/child_card_cover.jpg");
    }

    #adulte-bg {
      background: radial-gradient(closest-corner, transparent,transparent, #fff), no-repeat center/cover url("../assets/imgs/cards/adult_card_cover.jpg");
    }




    .motifs_card{
    
      margin: 0 0 300px 0;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 320px;
      border-radius: 24px;
      
      .motifs_card-cover{
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        
        


      }
      
      .motifs_card_title {
          
        text-transform: uppercase;
        font-weight: $regular;
        font-size: $h3;
        margin: 0 0 1rem 0;
        color: $isa-gris;
        line-height: 1em;
      }

      .motifs_description {
        display: flex;
        height: auto;
        width: 100%;
        left: 0;
        top: 280px;
        padding: 0.25rem 0 0 2rem;
        text-align: left;
        position: relative;
        flex-direction: column;
        justify-content: start;
        opacity: 100%;
        transition: opacity ease-in-out 300ms;

        
        
        color: $isa-black;
        background-color: #ffffffb0;


        &:hover{
          opacity: 100%;
        }
    

        .motifs_list {
          text-align: left;
          list-style: none;
          margin: 0;
          padding: 0;
          height: auto;
          .motifs_item {
            font-size: $paragraph-secondary;
            padding: .12rem 0;
          }
          
        }
      }
    }

  }

}

.motifs_link-button{
  display: none;
  cursor: pointer;
  margin: 0 0 0 0;
  padding: 8px 16px;
  border-radius: 8px;
  text-align: center;
  font-size: $paragraph-small;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  transition: border-color ease-in-out 200ms, background-color ease-in-out 200ms;
  
  background-color: $isa-rouge-light;
  border: solid 2px $isa-rouge-light;
  
  &:hover {
    
    background-color: $isa-rouge-hover;
    border: solid 2px $isa-rouge-hover;
    
  }
  &:active {
    
    background-color: $isa-rouge-hover;
    border: solid 2px $isa-rouge-hover;
    
  }

}

.motifs_link-button-mobile{
  display: block;
  cursor: pointer;
  margin: 0 0 0 0;
  padding: 12px 16px;
  border-radius: 8px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  border: solid 2px $isa-rouge-dark;
  color: white;
  background-color: $isa-rouge-dark;
  transition: background-color ease-in-out 200ms;
  width: 75%;
  align-self: center;

  
  &:hover, &:active {
    
    background-color: $isa-rouge-hover;
    border: solid 2px $isa-rouge-hover;
    
  }
}




@media (min-width:768px) {

  .motifs_container {
    text-align: center;
    width: 100%;

    .motifs_title {
      font-size: $h6;
      font-weight: $extraLight ;
      color: $isa-rouge-dark;
      text-transform: uppercase;
      margin: 0;
      letter-spacing: .1rem;
    }

    .motifs_card-box {
      display: flex;
      flex-direction: column;
      justify-content: left;
      margin: 2rem 0;
      flex-wrap: wrap;
      border-radius: 24px;
      padding: 0 5rem;


      #baby-bg {
        background: radial-gradient(closest-corner, transparent,transparent, #fff), no-repeat center/cover url("../assets/imgs/cards/baby_card_cover.jpg");
      }

      #child-bg {
        background: radial-gradient(closest-corner, transparent,transparent, #fff), no-repeat center/cover url("../assets/imgs/cards/child_card_cover.jpg");
      }

      #adulte-bg {
        background: radial-gradient(closest-corner, transparent,transparent, #fff), no-repeat center/cover url("../assets/imgs/cards/adult_card_cover.jpg");
      }




      .motifs_card{
      
        margin: 0 0 3rem 0;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        width: 320px;
        height: 320px;
        border-radius: 24px;
        
        .motifs_card-cover{
          display: block;
          height: 100%;
          width: 100%;
          object-fit: cover;
          
          


        }
        
        .motifs_card_title {
            
          text-transform: uppercase;
          font-weight: $regular;
          font-size: $h3;
          margin: 0 0 1rem 0;
          color: $isa-gris;
          line-height: 1em;
        }

        .motifs_description {
          display: flex;
          height: auto;
          width: 100%;
          left: 320px;
          top: 0;
          padding: 0.25rem 0 0 2rem;
          text-align: left;
          position: relative;
          flex-direction: column;
          justify-content: start;
          opacity: 100%;
          transition: opacity ease-in-out 300ms;
          
          color: $isa-black;
          background-color: #ffffffb0;


          &:hover{
            opacity: 100%;
          }
      

          .motifs_list {
            text-align: left;
            list-style: none;
            margin: 0;
            padding: 0;
            height: auto;
            .motifs_item {
              font-size: $paragraph-secondary;
              padding: .25rem 0;
            }
            
          }
        }
      }

    }

  }

  .motifs_link-button{
    display: none;
    cursor: pointer;
    margin: 0 0 0 0;
    padding: 8px 16px;
    border-radius: 8px;
    text-align: center;
    font-size: $paragraph-small;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    transition: border-color ease-in-out 200ms, background-color ease-in-out 200ms;
    
    background-color: $isa-rouge-light;
    border: solid 2px $isa-rouge-light;
    
    &:hover {
      
      background-color: $isa-rouge-hover;
      border: solid 2px $isa-rouge-hover;
      
    }
    &:active {
      
      background-color: $isa-rouge-hover;
      border: solid 2px $isa-rouge-hover;
      
    }

  }

  .motifs_link-button-mobile{
    display: block;
    cursor: pointer;
    margin: 0 0 0 0;
    padding: 12px 16px;
    border-radius: 8px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    border: solid 2px $isa-rouge-dark;
    color: white;
    background-color: $isa-rouge-dark;
    transition: background-color ease-in-out 200ms;
    width: 75%;
    align-self: center;
  
    
    &:hover, &:active {
      
      background-color: $isa-rouge-hover;
      border: solid 2px $isa-rouge-hover;
      
    }
  }
  
}




@media (min-width:1440px) {

  .motifs_container {
    text-align: center;
    width: 100%;

    .motifs_title {
      font-size: $h2;
      font-weight: $extraLight ;
      color: $isa-rouge-dark;
      text-transform: uppercase;
      margin: 0;

    }

    .motifs_card-box {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 2rem 0;


      #baby-bg {
        background: radial-gradient(closest-corner, transparent,transparent, #fff), no-repeat center/cover url("../assets/imgs/cards/baby_card_cover.jpg");
      }

      #child-bg {
        background: radial-gradient(closest-corner, transparent,transparent, #fff), no-repeat center/cover url("../assets/imgs/cards/child_card_cover.jpg");
      }

      #adulte-bg {
        background: radial-gradient(closest-corner, transparent,transparent, #fff), no-repeat center/cover url("../assets/imgs/cards/adult_card_cover.jpg");
      }




      .motifs_card{
      
        margin: 0 3rem;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        width: 320px;
        height: 480px;
        
        .motifs_card-cover{
          display: block;
          height: 100%;
          width: 100%;
          object-fit: cover;
          
          


        }
        
        .motifs_card_title {
            
          text-transform: uppercase;
          font-weight: $regular;
          font-size: $h5;
          margin: 0 0 1rem 0;
          color: $isa-gris;
        }

        .motifs_description {
          display: flex;
          height: 480px;
          width: 320px;
          left: auto;
          padding: 1rem;

          text-align: center;
          color: $isa-black;
          position: relative;
          flex-direction: column;

          justify-content: space-between;
          background-color: #ffffffb0;
          opacity: 0;
          transition: opacity ease-in-out 300ms;



          &:hover{
            opacity: 100%;
          }
      

          .motifs_list {
            
            text-align: left;
            list-style: none;
            margin: 0;
            padding: 0;
            height: 320px;
            .motifs_item {
              font-size: $paragraph-secondary;
              padding: .5rem;
            }
            
          }
        }
      }

    }

  }

  .motifs_link-button{
    display: block;
    cursor: pointer;
    margin: 0 0 0 0;
    padding: 16px 16px;
    border-radius: 8px;
    text-align: center;
    font-size: $paragraph-secondary;
    text-transform: uppercase;
    font-weight: 500;
    border: solid 2px $isa-rouge-dark;
    color: white;
    background-color: $isa-rouge-dark;
    transition: background-color ease-in-out 200ms;
    
    &:hover {
      
      background-color: $isa-rouge-hover;
      border: solid 2px $isa-rouge-hover;
      
    }
  }

  .motifs_link-button-mobile{
    display: none;
    cursor: pointer;
    margin: 0 0 0 0;
    padding: 16px 16px;
    border-radius: 8px;
    text-align: center;
    font-size: $paragraph-secondary;
    text-transform: uppercase;
    font-weight: 500;
    border: solid 2px $isa-rouge-dark;
    color: white;
    background-color: $isa-rouge-dark;
    transition: background-color ease-in-out 200ms;
    
    &:hover {
      
      background-color: $isa-rouge-hover;
      border: solid 2px $isa-rouge-hover;
      
    }
  }
  
}
