//Colors
$isa-orange-light: #B38C7D ;
$isa-rouge-light: #B3837D ;
$isa-vert-light: #B39E7D;

$isa-orange-medium: #A86F58;
$isa-rouge-medium: #995C54;
$isa-vert-medium:  #997F54;

$isa-orange-dark: #805240;
$isa-rouge-hover: #824941;
$isa-rouge-dark: #78443d;
$isa-vert-dark: #826941;

$isa-white: #fff;
$isa-black:#4d4d4dd9;
$isa-gris: #0000003d;
$highlight-hover: #99392c;
$highlight: #722c23;



//Typography
$text-type: 'Montserrat', sans-serif;

  //Weight:
  $extraLight: 200;
  $regular: 400;
  $medium: 500;
  $bold: 700;

  //Sizes :
  $paragraph-small: 12px;
  $paragraph: 18px;
  $paragraph-secondary: 16px;
  $paragraph-lead: 20px;

  $h1: 52px;
  $h2: 36px;
  $h3: 32px;
  $h4: 28px;
  $h5: 24px;
  $h6: 20px;