//Colors
$isa-orange-light: #B38C7D ;
$isa-rouge-light: #B3837D ;
$isa-vert-light: #B39E7D;

$isa-orange-medium: #A86F58;
$isa-rouge-medium: #995C54;
$isa-vert-medium:  #997F54;

$isa-orange-dark: #805240;
$isa-rouge-dark: #824941;
$isa-vert-dark: #826941;

$isa-white: #fff;



//Typography
$text-type: 'Montserrat', sans-serif;

  //Weight:
  $extraLight: 200;
  $regular: 400;
  $medium: 500;
  $bold: 700;

  //Sizes :
  $paragraph-small: 12px;
  $paragraph: 18px;
  $paragraph-secondary: 16px;
  $paragraph-lead: 24px;

  $h1: 56px;
  $h2: 48px;
  $h3: 42px;
  $h4: 36px;
  $h5: 24px;
  $h6: 18px;