:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #995c54;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 200, "opsz" 40;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #995c54;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 200, "opsz" 40;
}

.header_infos_box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mentions_legales {
  color: #78443d;
  padding: 5% 3%;
}
.mentions_legales ul li {
  list-style-type: none;
}

@media screen and (min-width: 764px) and (max-width: 1439px) {
  .mentions_legales {
    color: #78443d;
    padding: 5% 12.5%;
  }
}
@media screen and (min-width: 1440px) {
  .mentions_legales {
    color: #78443d;
    padding: 5% 25%;
  }
}
:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #995c54;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 200, "opsz" 40;
}

header {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  height: auto;
  justify-content: space-between;
  align-items: stretch;
  margin: 0;
}
header .header_logo {
  z-index: 5;
  width: 160px;
  padding: 1rem 0;
  margin: 0 0 0 1.5rem;
}
header .header_logo a {
  display: block;
  width: 100%;
  height: 100%;
  content: url("../assets/imgs/Right_logo.svg");
}
header .header_menu-button {
  display: block;
  z-index: 5;
  cursor: pointer;
  padding: 0 1.5rem;
  background: none;
  border: none;
  color: currentColor;
  font-size: 36px !important;
}
header .header_nav--none {
  display: none;
}
header .header_nav--active {
  z-index: 4;
  background-color: #fff;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 95px;
  box-shadow: none;
}
header .header_nav--active ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
}
header .header_nav--active ul li {
  margin: 1rem 0;
  width: 100%;
}
header .header_nav--active ul li a {
  color: #B3837D;
  display: flex;
  justify-content: start;
  letter-spacing: 0.1em;
  font-size: 18px;
  padding: 1.33em;
}
header .header_nav--active ul li a:hover {
  color: #722c23;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    height: auto;
    justify-content: space-between;
    align-items: stretch;
    margin: 0;
  }
  header .header_logo {
    z-index: 5;
    width: 200px;
    padding: 1.5rem 0;
    margin: 0 0 0 3rem;
  }
  header .header_logo a {
    display: block;
    width: 100%;
    height: 100%;
    content: url("../assets/imgs/Right_logo.svg");
  }
  header .header_menu-button {
    display: block;
    z-index: 5;
    cursor: pointer;
    padding: 0px 3rem 0 1rem;
    background: none;
    border: none;
    color: currentColor;
    font-size: 36px !important;
  }
  header .header_nav--none {
    display: none;
  }
  header .header_nav--active {
    z-index: 4;
    background-color: #fff;
    display: flex;
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    top: 119px;
    box-shadow: rgba(130, 73, 65, 0.0784313725) 0px 35px 30px 0px;
  }
  header .header_nav--active ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
  }
  header .header_nav--active ul li {
    margin: 1rem 0;
    width: 100%;
  }
  header .header_nav--active ul li a {
    color: #B3837D;
    display: flex;
    justify-content: end;
    letter-spacing: 0.1em;
    font-size: 18px;
    padding: 1.33em 4em;
  }
  header .header_nav--active ul li a:hover {
    color: #722c23;
  }
}
@media screen and (min-width: 1440px) {
  header {
    display: flex;
    flex-wrap: nowrap;
    background-color: #fff;
    height: auto;
    justify-content: space-between;
    align-items: stretch;
    max-width: 1600px;
    margin: 0 auto;
  }
  header .header_logo {
    z-index: 5;
    width: 240px;
    padding: 1.5rem 0;
    margin: 0 0 0 3rem;
  }
  header .header_logo a {
    display: block;
    width: 100%;
    height: 100%;
    content: url("../assets/imgs/Right_logo.svg");
  }
  header .header_menu-button {
    display: none;
    z-index: 5;
    cursor: pointer;
    padding: 0px 3rem 0 1rem;
    background: none;
    border: none;
    color: currentColor;
    font-size: 36px !important;
  }
  header .header_nav--none {
    margin-right: 6rem;
    z-index: 4;
    background-color: #fff;
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    right: auto;
    top: auto;
    box-shadow: none;
  }
  header .header_nav--none ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    justify-content: end;
  }
  header .header_nav--none ul li {
    height: 100%;
    margin: 0;
    width: auto;
  }
  header .header_nav--none ul li a {
    color: #B3837D;
    display: flex;
    justify-content: end;
    letter-spacing: 0.1em;
    font-size: 18px;
    padding: 0 2em;
    height: 100%;
    align-items: center;
  }
  header .header_nav--none ul li a:hover {
    color: #722c23;
  }
  header .header_nav--active {
    z-index: 4;
    background-color: #fff;
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    right: auto;
    top: auto;
    box-shadow: none;
  }
  header .header_nav--active ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    justify-content: end;
  }
  header .header_nav--active ul li {
    height: 100%;
    margin: 0;
    width: auto;
  }
  header .header_nav--active ul li a {
    color: #B3837D;
    display: flex;
    justify-content: end;
    letter-spacing: 0.1em;
    font-size: 18px;
    padding: 0 2em;
    height: 100%;
    align-items: center;
  }
  header .header_nav--active ul li a:hover {
    color: #722c23;
  }
}
:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #995c54;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 200, "opsz" 40;
}

.hero_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1rem;
  margin: 6rem 0 2rem 0;
}
.hero_container img {
  order: 1;
  width: 75%;
  margin: 0 0 1rem 0;
}
.hero_container .hero_description {
  order: 2;
  display: flex;
  flex-direction: column;
}
.hero_container .hero_description .hero_title {
  font-size: 24px;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
  letter-spacing: 0;
  line-height: 1.25em;
}
.hero_container .hero_description .hero_paragraph {
  font-size: 16px;
  margin: 0 0 2rem 0;
  -webkit-hyphens: auto;
          hyphens: auto;
}
.hero_container .hero_description .hero_primary-button {
  font-weight: 500;
  border: solid 2px transparent;
  color: white;
  background-color: #99392c;
  order: 2;
}
.hero_container .hero_description .hero_secondary-button {
  order: 1;
  border: solid 2px #B38C7D;
  color: #B38C7D;
  background-color: #fff;
}
.hero_container .hero_description .hero_secondary-button, .hero_container .hero_description .hero_primary-button {
  margin: 0 0 1rem 0;
  padding: 16px 12px;
  border-radius: 8px;
  text-transform: uppercase;
  transition: ease-in-out 200ms, border-color ease-in-out 200ms, color ease-in-out 200ms, letter-spacing ease-in-out 200ms, padding ease-in-out 200ms;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.1em;
}

@media (min-width: 768px) {
  .hero_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 5rem;
    margin: 5rem 0 3rem 0;
  }
  .hero_container img {
    order: 1;
    width: 50%;
    margin: 0 0 2rem 0;
  }
  .hero_container .hero_description {
    order: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .hero_container .hero_description .hero_title {
    font-size: 36px;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    line-height: 1.25em;
  }
  .hero_container .hero_description .hero_paragraph {
    font-size: 16px;
    margin: 0 0 2rem 0;
  }
  .hero_container .hero_description .hero_secondary-button, .hero_container .hero_description .hero_primary-button {
    text-transform: uppercase;
    margin: 0 0 1rem 0;
    padding: 16px 12px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.1em;
  }
  .hero_container .hero_description .hero_primary-button {
    font-weight: 500;
    border: solid 2px transparent;
    color: white;
    background-color: #99392c;
    width: 66%;
    order: 2;
  }
  .hero_container .hero_description .hero_primary-button:active, .hero_container .hero_description .hero_primary-button:hover {
    background-color: #99392c;
  }
  .hero_container .hero_description .hero_secondary-button {
    border: solid 2px #B38C7D;
    color: #B38C7D;
    background-color: #fff;
    width: 33%;
    order: 1;
  }
}
@media (min-width: 1440px) {
  main {
    margin: auto;
  }
  .hero_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 6rem auto;
    max-width: 2000px;
  }
  .hero_container img {
    order: 2;
    width: 25%;
    margin: 0 0 0 4rem;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .hero_container .hero_description {
    order: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 40%;
    margin: 0 4rem 0 0;
  }
  .hero_container .hero_description .hero_title {
    font-size: 52px;
    margin: 0 0 3rem 0;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    line-height: 1.25em;
  }
  .hero_container .hero_description .hero_paragraph {
    font-size: 20px;
    margin: 0 0 2rem 0;
  }
  .hero_container .hero_description .hero_secondary-button, .hero_container .hero_description .hero_primary-button {
    margin: 0 0 0 0;
    padding: 16px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0;
    text-transform: uppercase;
    font-weight: 500;
  }
  .hero_container .hero_description .hero_primary-button {
    border: solid 2px transparent;
    color: white;
    background-color: #99392c;
    width: 64%;
    order: 2;
  }
  .hero_container .hero_description .hero_primary-button:hover {
    background-color: #722c23;
    border: solid 2px transparent;
  }
  .hero_container .hero_description .hero_secondary-button {
    border: solid 2px #B38C7D;
    color: #B38C7D;
    background-color: #fff;
    width: 33%;
    order: 1;
  }
  .hero_container .hero_description .hero_secondary-button:hover {
    color: #824941;
    border: solid 2px #824941;
  }
}
:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #995c54;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 200, "opsz" 40;
}

.main_a-venir {
  display: block;
  transform: ease 200ms;
}
.main_a-venir .main_image {
  display: none;
  position: absolute;
  width: 100%;
  height: 60%;
  background-image: url("../assets/Mobile/imgs/Douleurs_Menstruelles.png");
  background-position: center;
  background-size: cover;
}
.main_a-venir .main_text-box {
  width: 100%;
  height: 60%;
  position: relative;
  color: #fff;
  padding: 32px;
  background-image: url("../assets/Mobile/imgs/Douleurs_Menstruelles.png");
  background-position: center;
  background-size: cover;
  background-color: rgba(50, 31, 28, 0.3215686275);
}
.main_a-venir .main_text-box .description h2 {
  margin: auto;
  line-height: 1.25em;
  letter-spacing: 0.1em;
  font-size: 32px;
  font-weight: 500;
}
.main_a-venir .main_text-box .description .normal_text {
  font-size: 20px;
}
.main_a-venir .main_text-box .description .little_text {
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
}
.main_a-venir .main_text-box .main_link {
  margin-top: 42px;
}
.main_a-venir .main_text-box .main_link .main_link_button {
  display: block;
  text-align: center;
  color: #78443d;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.1em;
  background-color: #fff;
  box-shadow: 5px 3px 5px 0 rgba(50, 31, 28, 0.3215686275);
  border-radius: 12px;
  padding: 24px;
  transition: ease 50ms;
}
.main_a-venir .main_text-box .main_link .main_link_button:hover {
  background-color: #722c23;
  color: #fff;
}
.main_a-venir .main_text-box .main_link .main_link_button:active {
  background-color: #78443d;
  color: #fff;
  box-shadow: 3px 2px 5px 0 rgba(50, 31, 28, 0.3215686275);
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .main_a-venir {
    display: block;
    transform: ease 200ms;
  }
  .main_a-venir .main_image {
    display: none;
    position: absolute;
    width: 100%;
    height: 60%;
    background-image: url("../assets/Mobile/imgs/Douleurs_Menstruelles.png");
    background-position: center;
    background-size: cover;
  }
  .main_a-venir .main_text-box {
    z-index: 5;
    width: 100%;
    height: 60%;
    position: relative;
    color: #fff;
    padding: 116px;
    background: url("../assets/Mobile/imgs/Douleurs_Menstruelles.png") no-repeat;
    background-position: center;
    background-size: cover;
  }
  .main_a-venir .main_text-box .description h2 {
    margin: auto;
    line-height: 1.25em;
    font-size: 42px;
  }
  .main_a-venir .main_text-box .description .normal_text {
    font-size: 20px;
  }
  .main_a-venir .main_text-box .description .little_text {
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
  }
  .main_a-venir .main_text-box .main_link {
    margin-top: 42px;
  }
  .main_a-venir .main_text-box .main_link .main_link_button {
    display: block;
    text-align: center;
    color: #78443d;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.1em;
    background-color: #fff;
    border-radius: 12px;
    padding: 24px;
    transition: ease 200ms;
  }
  .main_a-venir .main_text-box .main_link .main_link_button:hover {
    background-color: #B3837D;
    color: #fff;
  }
  .main_a-venir .main_text-box .main_link .main_link_button:active {
    background-color: #78443d;
    color: #fff;
  }
}
@media screen and (min-width: 1440px) {
  .main_a-venir {
    display: flex;
    justify-content: center;
    align-items: start;
  }
  .main_a-venir .main_image {
    display: block;
    position: relative;
    width: 50%;
    height: calc(100vh - 96px);
    background-image: url("../assets/Desktop/imgs/Douleurs_Menstruelles.png");
    background-position: center;
    background-size: cover;
  }
  .main_a-venir .main_text-box {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    background-color: transparent;
    color: #78443d;
    width: 50%;
    height: 100%;
    padding: 64px;
    background-image: none;
  }
  .main_a-venir .main_text-box .description h2 {
    margin: auto;
    line-height: 1.25em;
    font-size: 56px;
  }
  .main_a-venir .main_text-box .description .normal_text {
    font-size: 20px;
  }
  .main_a-venir .main_text-box .description .little_text {
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
  }
  .main_a-venir .main_text-box .main_link {
    margin-top: 24px;
  }
  .main_a-venir .main_text-box .main_link .main_link_button {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.1em;
    background-color: #995c54;
    border-radius: 12px;
    padding: 24px;
    transition: ease 200ms;
  }
  .main_a-venir .main_text-box .main_link .main_link_button:hover {
    background-color: #B3837D;
    color: #fff;
  }
  .main_a-venir .main_text-box .main_link .main_link_button:active {
    background-color: #78443d;
    color: #fff;
  }
}
:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #995c54;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 200, "opsz" 40;
}

footer {
  display: block;
  text-align: center;
  font-size: 12px;
  margin-top: 8rem;
  background-color: #78443d;
}
footer p {
  color: #fff;
  margin: 0;
  padding: 16px 0;
}
footer p a {
  text-decoration: underline;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #995c54;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 200, "opsz" 40;
}

.motifs_container {
  text-align: center;
  width: 100%;
}
.motifs_container .motifs_title {
  text-align: left;
  font-size: 20px;
  font-weight: 200;
  color: #78443d;
  text-transform: uppercase;
  margin: 0;
  padding: 0 1rem;
  letter-spacing: 0.5rem;
}
.motifs_container .motifs_card-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0;
  flex-wrap: wrap;
  border-radius: 24px;
  padding: 0 1rem;
}
.motifs_container .motifs_card-box #baby-bg {
  background: radial-gradient(closest-corner, transparent, transparent, #fff), no-repeat center/cover url("../assets/imgs/cards/baby_card_cover.jpg");
  background-position: center 36%;
}
.motifs_container .motifs_card-box #child-bg {
  background: radial-gradient(closest-corner, transparent, transparent, #fff), no-repeat center/cover url("../assets/imgs/cards/child_card_cover.jpg");
}
.motifs_container .motifs_card-box #adulte-bg {
  background: radial-gradient(closest-corner, transparent, transparent, #fff), no-repeat center/cover url("../assets/imgs/cards/adult_card_cover.jpg");
  background-position: center 56%;
}
.motifs_container .motifs_card-box .motifs_card {
  margin: 0 0 3rem 0;
  display: grid;
  grid-template-columns: auto;
  grid-column-gap: 0;
  height: auto;
  grid-template-rows: 1fr 2fr;
  grid-row-gap: 0rem;
  border-radius: 24px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.125);
}
.motifs_container .motifs_card-box .motifs_card .motifs_card-bg {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 24px 24px 0 0;
}
.motifs_container .motifs_card-box .motifs_card .motifs_card_title {
  color: rgba(0, 0, 0, 0.2392156863);
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 1rem 0 1rem 0;
  line-height: 1em;
  padding: 0;
}
.motifs_container .motifs_card-box .motifs_card .motifs_description {
  display: flex;
  height: auto;
  width: 100%;
  padding: 0;
  position: relative;
  flex-direction: column;
  justify-content: start;
  opacity: 100%;
  transition: opacity ease-in-out 300ms;
  border-radius: 0 0 24px 24px;
  background-color: transparent;
  color: rgba(77, 77, 77, 0.8509803922);
}
.motifs_container .motifs_card-box .motifs_card .motifs_description:hover {
  opacity: 100%;
}
.motifs_container .motifs_card-box .motifs_card .motifs_description .motifs_list {
  text-align: left;
  list-style: none;
  margin: 0 0 1rem 0;
  padding: 0 2rem;
  height: auto;
}
.motifs_container .motifs_card-box .motifs_card .motifs_description .motifs_list .motifs_item {
  font-size: 16px;
  padding: 0.25rem 0;
}

.motifs_link-button {
  display: block;
  cursor: pointer;
  margin: 0 0 0px 0;
  padding: 16px 16px;
  border-radius: 0 0 24px 24px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  transition: border-color ease-in-out 200ms, background-color ease-in-out 200ms;
  background-color: #995c54;
  border: solid 2px #995c54;
}
.motifs_link-button:hover {
  background-color: #824941;
  border: solid 2px #824941;
}
.motifs_link-button:active {
  background-color: #824941;
  border: solid 2px #824941;
}

@media (min-width: 768px) {
  .motifs_container {
    text-align: center;
    width: 100%;
  }
  .motifs_container .motifs_title {
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    color: #78443d;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 0.05rem;
  }
  .motifs_container .motifs_card-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0;
    flex-wrap: wrap;
    border-radius: 24px;
    padding: 0 5rem;
  }
  .motifs_container .motifs_card-box #baby-bg {
    background: radial-gradient(closest-corner, transparent, transparent, #fff), no-repeat center/cover url("../assets/imgs/cards/baby_card_cover.jpg");
  }
  .motifs_container .motifs_card-box #child-bg {
    background: radial-gradient(closest-corner, transparent, transparent, #fff), no-repeat center/cover url("../assets/imgs/cards/child_card_cover.jpg");
  }
  .motifs_container .motifs_card-box #adulte-bg {
    background: radial-gradient(closest-corner, transparent, transparent, #fff), no-repeat center/cover url("../assets/imgs/cards/adult_card_cover.jpg");
  }
  .motifs_container .motifs_card-box .motifs_card {
    display: grid;
    margin: 0 0 3rem 0;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0rem;
    grid-template-rows: 1fr 0fr;
    grid-row-gap: 0rem;
    border-radius: 24px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.125);
  }
  .motifs_container .motifs_card-box .motifs_card .motifs_card-bg {
    display: block;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 24px 0 0 24px;
  }
  .motifs_container .motifs_card-box .motifs_card .motifs_card_title {
    align-content: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 32px;
    margin: 1rem 0 1rem 0;
    color: rgba(0, 0, 0, 0.2392156863);
    line-height: 1em;
  }
  .motifs_container .motifs_card-box .motifs_card .motifs_description {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr;
    height: 342px;
    width: 100%;
    padding: 0;
    position: relative;
    justify-content: start;
    opacity: 100%;
    transition: opacity ease-in-out 300ms;
    border-radius: 0 24px 24px 0;
    color: rgba(77, 77, 77, 0.8509803922);
    background-color: transparent;
  }
  .motifs_container .motifs_card-box .motifs_card .motifs_description:hover {
    opacity: 100%;
  }
  .motifs_container .motifs_card-box .motifs_card .motifs_description .motifs_list {
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0 1rem;
    height: auto;
  }
  .motifs_container .motifs_card-box .motifs_card .motifs_description .motifs_list .motifs_item {
    font-size: 16px;
    padding: 0.25rem 0;
  }
  .motifs_link-button {
    display: block;
    cursor: pointer;
    margin: 0;
    padding: 12px 16px;
    border-radius: 0 0 24px 0;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    transition: border-color ease-in-out 200ms, background-color ease-in-out 200ms;
    align-self: end;
    background-color: #995c54;
    border: solid 2px #995c54;
  }
  .motifs_link-button:hover {
    background-color: #824941;
    border: solid 2px #824941;
  }
  .motifs_link-button:active {
    background-color: #824941;
    border: solid 2px #824941;
  }
}
@media (min-width: 1440px) {
  .motifs_container {
    text-align: center;
    width: 100%;
    max-width: 2000px;
    margin: 9rem auto;
  }
  .motifs_container .motifs_title {
    text-align: center;
    font-size: 36px;
    font-weight: 200;
    color: #78443d;
    text-transform: uppercase;
    margin: 0;
  }
  .motifs_container .motifs_card-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 3rem auto 9rem auto;
  }
  .motifs_container .motifs_card-box #baby-bg {
    background: radial-gradient(closest-corner, transparent, transparent, #fff), no-repeat center/cover url("../assets/imgs/cards/baby_card_cover.jpg");
  }
  .motifs_container .motifs_card-box #child-bg {
    background: radial-gradient(closest-corner, transparent, transparent, #fff), no-repeat center/cover url("../assets/imgs/cards/child_card_cover.jpg");
  }
  .motifs_container .motifs_card-box #adulte-bg {
    background: radial-gradient(closest-corner, transparent, transparent, #fff), no-repeat center/cover url("../assets/imgs/cards/adult_card_cover.jpg");
  }
  .motifs_container .motifs_card-box .motifs_card {
    margin: 0;
    display: block;
    width: 20vw;
    min-width: 300px;
    max-width: 400px;
    height: 480px;
  }
  .motifs_container .motifs_card-box .motifs_card .motifs_card-bg {
    display: block;
    z-index: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 24px;
  }
  .motifs_container .motifs_card-box .motifs_card .motifs_card_title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    margin: 0 0 1rem 0;
    color: rgba(0, 0, 0, 0.2392156863);
  }
  .motifs_container .motifs_card-box .motifs_card .motifs_description {
    display: grid;
    padding: 1rem;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr;
    top: -480px;
    height: 480px;
    width: 20vw;
    min-width: 300px;
    max-width: 400px;
    left: auto;
    z-index: 1;
    border-radius: 24px;
    text-align: center;
    color: rgba(77, 77, 77, 0.8509803922);
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.6901960784);
    opacity: 0;
    transition: opacity ease-in-out 300ms;
  }
  .motifs_container .motifs_card-box .motifs_card .motifs_description:hover {
    opacity: 100%;
  }
  .motifs_container .motifs_card-box .motifs_card .motifs_description .motifs_list {
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 320px;
  }
  .motifs_container .motifs_card-box .motifs_card .motifs_description .motifs_list .motifs_item {
    font-size: 16px;
    padding: 0.5rem;
  }
  .motifs_link-button {
    display: block;
    cursor: pointer;
    margin: 0 0 0 0;
    padding: 16px 16px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    border: solid 2px #995c54;
    color: white;
    background-color: #995c54;
    transition: background-color ease-in-out 200ms;
    align-self: end;
  }
  .motifs_link-button:hover {
    background-color: #824941;
    border: solid 2px #824941;
  }
}
:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #995c54;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 200, "opsz" 40;
}

.cabinet_section {
  background-color: #995c54;
  color: #fff;
  box-shadow: #995c54 0px 0px 4px 24px;
}
.cabinet_section .cabinet_container {
  padding: 2rem 1rem;
}
.cabinet_section .cabinet_container .cabinet_title {
  font-size: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 2rem 1rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
}
.cabinet_section .cabinet_container .cabinet_carousel {
  width: 100%;
  max-width: none;
  overflow: hidden;
}
.cabinet_section .cabinet_container .cabinet_carousel .cabinet_carousel_buttons {
  display: none;
}
.cabinet_section .cabinet_container .cabinet_slides {
  display: flex;
  width: 200%;
  transition: transform 1s ease-in-out;
}
.cabinet_section .cabinet_container .cabinet_slide {
  width: 100%;
  flex-shrink: 0;
}
.cabinet_section .cabinet_container .cabinet_slide .cabinet_slide_title {
  width: 50%;
  padding: 0 1rem;
  font-size: 28px;
  font-weight: 400;
  margin: 0.5rem 0;
  font-size: 24px;
}
.cabinet_section .cabinet_container .cabinet_slide .cabinet_slide_texte {
  -webkit-hyphens: auto;
          hyphens: auto;
  width: 50%;
  padding: 0 6px;
  margin: 0.5rem 0;
  font-size: 12px;
}
.cabinet_section .cabinet_container .cabinet_slide img {
  width: 50%;
  display: block;
  border-radius: 24px;
  height: 356px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .cabinet_section {
    background-color: #995c54;
    color: #fff;
  }
  .cabinet_section .cabinet_container {
    padding: 2rem 5rem;
  }
  .cabinet_section .cabinet_container .cabinet_title {
    font-size: 52px;
    text-transform: uppercase;
    margin: 2rem 0;
    padding: 0;
    font-weight: 200;
    letter-spacing: 0.1rem;
  }
  .cabinet_section .cabinet_container .cabinet_carousel {
    width: 100%;
    max-width: none;
    overflow: hidden;
  }
  .cabinet_section .cabinet_container .cabinet_carousel .cabinet_carousel_buttons {
    display: none;
  }
  .cabinet_section .cabinet_container .cabinet_slides {
    display: flex;
    width: 400%;
    transition: transform 1s ease-in-out;
  }
  .cabinet_section .cabinet_container .cabinet_slide {
    width: 100%;
    flex-shrink: 0;
  }
  .cabinet_section .cabinet_container .cabinet_slide .cabinet_slide_title {
    width: 100%;
    padding: 0;
    font-weight: 400;
    margin: 0.5rem 0;
    font-size: 36px;
  }
  .cabinet_section .cabinet_container .cabinet_slide .cabinet_slide_texte {
    -webkit-hyphens: auto;
            hyphens: auto;
    width: calc(100vw - 10rem);
    padding: 0px 0rem;
    margin: 0.5rem 0;
    font-size: 20px;
  }
  .cabinet_section .cabinet_container .cabinet_slide img {
    width: 25%;
    display: block;
    height: 624px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 24px;
  }
}
@media (min-width: 1440px) {
  .cabinet_section {
    background-color: #995c54;
    color: #fff;
  }
  .cabinet_section .cabinet_container {
    padding: 2rem 13rem;
    max-width: 1950px;
    margin: auto;
  }
  .cabinet_section .cabinet_container .cabinet_title {
    font-size: 52px;
    text-transform: uppercase;
    margin: 2rem 0;
    padding: 0;
    font-weight: 200;
    letter-spacing: 0.1rem;
  }
  .cabinet_section .cabinet_container .cabinet_carousel {
    width: 100%;
    max-width: none;
    overflow: hidden;
  }
  .cabinet_section .cabinet_container .cabinet_carousel .cabinet_carousel_buttons {
    display: flex;
    position: relative;
    top: -324px;
  }
  .cabinet_section .cabinet_container .cabinet_carousel .cabinet_carousel_button {
    position: relative;
    background-color: rgba(255, 255, 255, 0.756);
    transition: background-color ease 120ms;
    color: #995c54;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    font-size: 56px;
    width: 72px;
    height: 72px;
    margin-right: 16px;
  }
  .cabinet_section .cabinet_container .cabinet_carousel .cabinet_carousel_button:hover {
    background-color: #fff;
  }
  .cabinet_section .cabinet_container .cabinet_slides {
    display: flex;
    width: 400%;
    transition: transform 1s ease;
  }
  .cabinet_section .cabinet_container .cabinet_slide {
    width: 100%;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    flex-wrap: wrap;
    height: 624px;
    align-content: space-between;
    padding-right: 75%;
  }
  .cabinet_section .cabinet_container .cabinet_slide .cabinet_slide_title {
    width: 33%;
    padding: 0;
    font-weight: 400;
    margin: 0.5rem 0;
    font-size: 36px;
    order: 0;
  }
  .cabinet_section .cabinet_container .cabinet_slide .cabinet_slide_texte {
    -webkit-hyphens: auto;
            hyphens: auto;
    width: 33%;
    padding: 0px 0rem;
    margin: 0.5rem 0;
    font-size: 20px;
    order: 1;
  }
  .cabinet_section .cabinet_container .cabinet_slide img {
    width: 55%;
    display: block;
    height: 624px;
    -o-object-fit: cover;
       object-fit: cover;
    order: 2;
    border-radius: 24px;
  }
}
:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #995c54;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 200, "opsz" 40;
}

.parcours_section {
  margin: 24px auto auto auto;
}
.parcours_section .parcours_container {
  width: 100%;
  margin: 42px auto;
  padding: 2rem;
  display: flex;
  max-width: 1600px;
  border-radius: 24px;
  flex-wrap: wrap;
}
.parcours_section .parcours_container img {
  border-radius: 24px;
  border-style: none;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.parcours_section .parcours_container .parcours_description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-content: start;
  padding: 0;
  margin: 0;
}
.parcours_section .parcours_container .parcours_description .parcours_title {
  font-size: 32px;
  margin: 1rem 0 0 0;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.15rem;
  line-height: 1.25em;
}
.parcours_section .parcours_container .parcours_description .parcours_texte {
  font-size: 16px;
  margin: 1rem 0;
  width: 100%;
}
.parcours_section .parcours_container .parcours_description .parcours_buttons_container {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 100%;
  flex-wrap: wrap;
}
.parcours_section .parcours_container .parcours_description .parcours_buttons_container .parcours_secondary-button, .parcours_section .parcours_container .parcours_description .parcours_buttons_container .parcours_primary-button {
  margin: 1rem 0 0 0;
  padding: 16px 12px;
  border-radius: 8px;
  text-transform: uppercase;
  transition: ease-in-out 200ms, border-color ease-in-out 200ms, color ease-in-out 200ms, letter-spacing ease-in-out 200ms, padding ease-in-out 200ms;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}
.parcours_section .parcours_container .parcours_description .parcours_buttons_container .parcours_primary-button {
  border: solid 2px transparent;
  color: white;
  background-color: #995c54;
  width: 100%;
  order: 2;
}
.parcours_section .parcours_container .parcours_description .parcours_buttons_container .parcours_primary-button:hover {
  background-color: #824941;
  border: solid 2px transparent;
  padding: 16px 12px;
}
.parcours_section .parcours_container .parcours_description .parcours_buttons_container .parcours_secondary-button {
  border: solid 2px #B3837D;
  color: #B3837D;
  background-color: #fff;
  width: 100%;
  order: 1;
}
.parcours_section .parcours_container .parcours_description .parcours_buttons_container .parcours_secondary-button:hover {
  color: #824941;
  border: solid 2px #824941;
  padding: 16px 12px;
}

@media (min-width: 768px) {
  .parcours_section {
    margin: 24px auto auto auto;
  }
  .parcours_section .parcours_container {
    width: 80%;
    margin: 42px auto;
    padding: 2rem;
    display: flex;
    max-width: 1600px;
    border-radius: 24px;
  }
  .parcours_section .parcours_container img {
    border-radius: 24px;
    border-style: none;
    -o-object-fit: cover;
       object-fit: cover;
    width: 40%;
  }
  .parcours_section .parcours_container .parcours_description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    align-content: start;
    padding: 0;
    margin: 0;
  }
  .parcours_section .parcours_container .parcours_description .parcours_title {
    font-size: 32px;
    margin: 0 0 1rem 1rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.15rem;
    line-height: 1.25em;
  }
  .parcours_section .parcours_container .parcours_description .parcours_texte {
    font-size: 20px;
    margin: 0 0 1rem 1rem;
    width: 100%;
  }
  .parcours_section .parcours_container .parcours_description .parcours_buttons_container {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    flex-wrap: wrap;
  }
  .parcours_section .parcours_container .parcours_description .parcours_buttons_container .parcours_secondary-button, .parcours_section .parcours_container .parcours_description .parcours_buttons_container .parcours_primary-button {
    margin: 1rem 1rem 0 1rem;
    padding: 16px 12px;
    border-radius: 8px;
    text-transform: uppercase;
    transition: ease-in-out 200ms, border-color ease-in-out 200ms, color ease-in-out 200ms, letter-spacing ease-in-out 200ms, padding ease-in-out 200ms;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
  }
  .parcours_section .parcours_container .parcours_description .parcours_buttons_container .parcours_primary-button {
    border: solid 2px transparent;
    color: white;
    background-color: #995c54;
    width: 100%;
    order: 2;
  }
  .parcours_section .parcours_container .parcours_description .parcours_buttons_container .parcours_primary-button:hover {
    background-color: #824941;
    border: solid 2px transparent;
    padding: 16px 12px;
  }
  .parcours_section .parcours_container .parcours_description .parcours_buttons_container .parcours_secondary-button {
    border: solid 2px #B3837D;
    color: #B3837D;
    background-color: #fff;
    width: 100%;
    order: 1;
  }
  .parcours_section .parcours_container .parcours_description .parcours_buttons_container .parcours_secondary-button:hover {
    color: #824941;
    border: solid 2px #824941;
    padding: 16px 12px;
  }
}
@media (min-width: 1440px) {
  .parcours_section {
    margin: 24px auto auto auto;
  }
  .parcours_section .parcours_container {
    width: 80%;
    margin: 42px auto;
    padding: 2rem;
    display: flex;
    max-width: 1600px;
    border-radius: 24px;
  }
  .parcours_section .parcours_container img {
    border-radius: 24px;
    border-style: none;
    -o-object-fit: cover;
       object-fit: cover;
    width: 40%;
  }
  .parcours_section .parcours_container .parcours_description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 55%;
    align-content: start;
    padding: 2rem 2rem;
    margin: 0rem 0 0 2rem;
  }
  .parcours_section .parcours_container .parcours_description .parcours_title {
    font-size: 52px;
    margin: 0 0 2rem 0;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.15rem;
    line-height: 1.25em;
  }
  .parcours_section .parcours_container .parcours_description .parcours_texte {
    font-size: 20px;
    margin: 0 0 2rem 0;
    width: 100%;
  }
  .parcours_section .parcours_container .parcours_description .parcours_buttons_container {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    flex-wrap: wrap;
  }
  .parcours_section .parcours_container .parcours_description .parcours_buttons_container .parcours_secondary-button, .parcours_section .parcours_container .parcours_description .parcours_buttons_container .parcours_primary-button {
    margin: 0 0 0 1rem;
    padding: 16px 12px;
    border-radius: 8px;
    text-transform: uppercase;
    transition: ease-in-out 200ms, border-color ease-in-out 200ms, color ease-in-out 200ms, letter-spacing ease-in-out 200ms, padding ease-in-out 200ms;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
  }
  .parcours_section .parcours_container .parcours_description .parcours_buttons_container .parcours_primary-button {
    border: solid 2px transparent;
    color: white;
    background-color: #995c54;
    width: auto;
    order: 2;
  }
  .parcours_section .parcours_container .parcours_description .parcours_buttons_container .parcours_primary-button:hover {
    background-color: #824941;
    border: solid 2px transparent;
    padding: 16px 12px;
  }
  .parcours_section .parcours_container .parcours_description .parcours_buttons_container .parcours_secondary-button {
    border: solid 2px #B3837D;
    color: #B3837D;
    background-color: #fff;
    width: auto;
    order: 1;
  }
  .parcours_section .parcours_container .parcours_description .parcours_buttons_container .parcours_secondary-button:hover {
    color: #824941;
    border: solid 2px #824941;
    padding: 16px 12px;
  }
}
:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #995c54;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 200, "opsz" 40;
}

.contact_section .contact_container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact_section .contact_container .contact_message-box {
  width: 100%;
  margin: 0 0 4rem 0;
}
.contact_section .contact_container .contact_message-box .contact_orange-stroke {
  height: 8px;
  border-radius: 0 24px 24px 0;
  width: 50%;
  background-color: #A86F58;
  margin: 0 auto 0 0;
}
.contact_section .contact_container .contact_message-box .contact_green-stroke {
  height: 8px;
  border-radius: 24px 0 0 24px;
  width: calc(100% - 2rem);
  background-color: #997F54;
  margin: 0 0 0 auto;
}
.contact_section .contact_container .contact_message-box .contact_title {
  font-size: 36px;
  width: 100%;
  margin: 1rem 0;
}
.contact_section .contact_container .contact_message-box .contact_texte {
  font-size: 18px;
  padding: 0;
  width: 100%;
}
.contact_section .contact_container .contact_message-box .contact_texte .contact_reseaux {
  color: #995c54 !important;
  font-size: 32px;
}
.contact_section .contact_container .contact_message-box .contact_texte .contact_reseaux a {
  padding: 0.5rem;
}
.contact_section .contact_container .contact_message-box .contact_texte ul {
  list-style: none;
  padding: 0;
}
.contact_section .contact_container .contact_message-box .contact_texte table {
  width: 100%;
}
.contact_section .contact_container .contact_message-box .contact_texte table tbody tr:nth-of-type(2n) {
  background-color: rgba(179, 158, 125, 0.1294117647);
}
.contact_section .contact_container .contact_message-box .contact_texte table tbody tr th, .contact_section .contact_container .contact_message-box .contact_texte table tbody tr td {
  padding: 1rem;
  text-align: left;
}
.contact_section .contact_container .contact_message-box .contact_align-right {
  text-align: left;
  padding: 0 2rem;
}
.contact_section .contact_container .contact_message-box .contact_align-left {
  text-align: left;
  padding: 0 2rem;
}

@media screen and (min-width: 768px) {
  .contact_section .contact_container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contact_section .contact_container .contact_message-box {
    width: 42.5%;
  }
  .contact_section .contact_container .contact_message-box .contact_orange-stroke {
    height: 8px;
    border-radius: 0 24px 24px 0;
    width: 100%;
    background-color: #A86F58;
    margin: 0 auto 0 0;
  }
  .contact_section .contact_container .contact_message-box .contact_green-stroke {
    height: 8px;
    border-radius: 24px 0 0 24px;
    width: 100%;
    background-color: #997F54;
    margin: 0 0 0 auto;
  }
  .contact_section .contact_container .contact_message-box .contact_title {
    font-size: 36px;
    width: 100%;
    margin: 1rem 0;
  }
  .contact_section .contact_container .contact_message-box .contact_texte {
    font-size: 18px;
    padding: 0;
    width: 100%;
  }
  .contact_section .contact_container .contact_message-box .contact_texte ul {
    list-style: none;
    padding: 0;
  }
  .contact_section .contact_container .contact_message-box .contact_texte table {
    width: auto;
  }
  .contact_section .contact_container .contact_message-box .contact_texte table tbody tr:nth-of-type(2n) {
    background-color: rgba(179, 158, 125, 0.1294117647);
  }
  .contact_section .contact_container .contact_message-box .contact_texte table tbody tr th, .contact_section .contact_container .contact_message-box .contact_texte table tbody tr td {
    padding: 1rem;
    text-align: left;
  }
  .contact_section .contact_container .contact_message-box .contact_align-right {
    text-align: right;
    padding: 0;
  }
  .contact_section .contact_container .contact_message-box .contact_align-left {
    text-align: left;
    padding: 0;
  }
}
@media screen and (min-width: 1440px) {
  .contact_section .contact_container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contact_section .contact_container .contact_message-box {
    width: 42.5%;
  }
  .contact_section .contact_container .contact_message-box .contact_orange-stroke {
    height: 8px;
    border-radius: 0 24px 24px 0;
    width: 100%;
    background-color: #A86F58;
    margin: 0 auto 0 0;
  }
  .contact_section .contact_container .contact_message-box .contact_green-stroke {
    height: 8px;
    border-radius: 24px 0 0 24px;
    width: 100%;
    background-color: #997F54;
    margin: 0 0 0 auto;
  }
  .contact_section .contact_container .contact_message-box .contact_title {
    font-size: 36px;
    width: 100%;
    margin: 1rem 0;
  }
  .contact_section .contact_container .contact_message-box .contact_texte {
    font-size: 18px;
    padding: 0;
    width: 100%;
  }
  .contact_section .contact_container .contact_message-box .contact_texte ul {
    list-style: none;
    padding: 0;
  }
  .contact_section .contact_container .contact_message-box .contact_texte table {
    width: auto;
  }
  .contact_section .contact_container .contact_message-box .contact_texte table tbody tr:nth-of-type(2n) {
    background-color: rgba(179, 158, 125, 0.1294117647);
  }
  .contact_section .contact_container .contact_message-box .contact_texte table tbody tr th, .contact_section .contact_container .contact_message-box .contact_texte table tbody tr td {
    padding: 1rem;
    text-align: left;
  }
  .contact_section .contact_container .contact_message-box .contact_align-right {
    text-align: right;
    padding: 0;
  }
  .contact_section .contact_container .contact_message-box .contact_align-left {
    text-align: left;
    padding: 0;
  }
}
:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #995c54;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 200, "opsz" 40;
}

.mon-parcours_section h1 {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  line-height: 1.25em;
  margin: 2rem;
}
.mon-parcours_section .mon-parcours_container {
  display: flex;
  flex-direction: row;
}
.mon-parcours_section .mon-parcours_container:nth-of-type(2n) .mon-parcours_graphics .mon-parcours_graphics_img {
  content: url("../../assets/icons/SVG/pattern-green.svg");
}
.mon-parcours_section .mon-parcours_container:nth-of-type(2n) .mon-parcours_graphics .mon-parcours_graphics_stroke {
  background-color: #997F54;
}
.mon-parcours_section .mon-parcours_container:nth-of-type(2n) .mon-parcours_text-box .mon-parcours_text-box_titre {
  color: #997F54;
}
.mon-parcours_section .mon-parcours_container:nth-of-type(2n) .mon-parcours_text-box .mon-parcours_text-box_date {
  color: #997F54;
}
.mon-parcours_section .mon-parcours_container:nth-of-type(2n) .mon-parcours_text-box .mon-parcours_text-box_titre {
  color: #997F54;
}
.mon-parcours_section .mon-parcours_container .mon-parcours_graphics {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 64px;
  padding: 0 0 0 0.5rem;
}
.mon-parcours_section .mon-parcours_container .mon-parcours_graphics .mon-parcours_graphics_img {
  margin: 1rem 0;
  width: 56px;
  content: url("../../assets/icons/SVG/pattern-red.svg");
}
.mon-parcours_section .mon-parcours_container .mon-parcours_graphics .mon-parcours_graphics_stroke {
  width: 8px;
  height: 100%;
  min-height: 150px;
  border-radius: 4px;
  background-color: #995c54;
}
.mon-parcours_section .mon-parcours_container .mon-parcours_text-box .mon-parcours_text-box_date {
  padding: 0 0 0 1rem;
}
.mon-parcours_section .mon-parcours_container .mon-parcours_text-box .mon-parcours_text-box_titre {
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  color: #995c54;
  padding: 0 2rem 0 0;
  -webkit-hyphens: none;
          hyphens: none;
}
.mon-parcours_section .mon-parcours_container .mon-parcours_text-box .mon-parcours_text-box_description {
  -webkit-hyphens: auto;
          hyphens: auto;
  padding: 0 2rem 0 0;
  text-align: justify;
  color: #545454;
}

@media screen and (min-width: 768px) {
  .mon-parcours_section h1 {
    font-size: 52px;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    line-height: 1.25em;
    width: 80%;
    margin: 4rem 5rem 2rem 5rem;
    max-width: 768px;
  }
  .mon-parcours_section .mon-parcours_container {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 5rem;
    max-width: 768px;
  }
  .mon-parcours_section .mon-parcours_container:nth-of-type(2n) .mon-parcours_graphics .mon-parcours_graphics_img {
    content: url("../../assets/icons/SVG/pattern-green.svg");
  }
  .mon-parcours_section .mon-parcours_container:nth-of-type(2n) .mon-parcours_graphics .mon-parcours_graphics_stroke {
    background-color: #997F54;
  }
  .mon-parcours_section .mon-parcours_container:nth-of-type(2n) .mon-parcours_text-box .mon-parcours_text-box_titre {
    color: #997F54;
  }
  .mon-parcours_section .mon-parcours_container:nth-of-type(2n) .mon-parcours_text-box .mon-parcours_text-box_date {
    color: #997F54;
  }
  .mon-parcours_section .mon-parcours_container:nth-of-type(2n) .mon-parcours_text-box .mon-parcours_text-box_titre {
    color: #997F54;
  }
  .mon-parcours_section .mon-parcours_container .mon-parcours_graphics {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 64px;
    padding: 0 0 0 0.5rem;
  }
  .mon-parcours_section .mon-parcours_container .mon-parcours_graphics .mon-parcours_graphics_img {
    margin: 1rem 0;
    width: 56px;
    content: url("../../assets/icons/SVG/pattern-red.svg");
  }
  .mon-parcours_section .mon-parcours_container .mon-parcours_graphics .mon-parcours_graphics_stroke {
    width: 8px;
    height: 100%;
    min-height: 150px;
    border-radius: 4px;
    background-color: #995c54;
  }
  .mon-parcours_section .mon-parcours_container .mon-parcours_text-box .mon-parcours_text-box_date {
    padding: 0 0 0 1rem;
  }
  .mon-parcours_section .mon-parcours_container .mon-parcours_text-box .mon-parcours_text-box_titre {
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    color: #995c54;
    padding: 0 2rem 0 0;
    -webkit-hyphens: none;
            hyphens: none;
  }
  .mon-parcours_section .mon-parcours_container .mon-parcours_text-box .mon-parcours_text-box_description {
    -webkit-hyphens: auto;
            hyphens: auto;
    padding: 0 2rem 0 0;
    text-align: justify;
    color: #545454;
  }
}
@media screen and (min-width: 1440px) {
  .mon-parcours_section h1 {
    font-size: 52px;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    line-height: 1.25em;
    width: 50%;
    margin: 4rem 13rem 2rem 13rem;
    max-width: 824px;
  }
  .mon-parcours_section .mon-parcours_container {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 0 13rem;
    max-width: 824px;
  }
  .mon-parcours_section .mon-parcours_container:nth-of-type(2n) .mon-parcours_graphics .mon-parcours_graphics_img {
    content: url("../../assets/icons/SVG/pattern-green.svg");
  }
  .mon-parcours_section .mon-parcours_container:nth-of-type(2n) .mon-parcours_graphics .mon-parcours_graphics_stroke {
    background-color: #997F54;
  }
  .mon-parcours_section .mon-parcours_container:nth-of-type(2n) .mon-parcours_text-box .mon-parcours_text-box_titre {
    color: #997F54;
  }
  .mon-parcours_section .mon-parcours_container:nth-of-type(2n) .mon-parcours_text-box .mon-parcours_text-box_date {
    color: #997F54;
  }
  .mon-parcours_section .mon-parcours_container:nth-of-type(2n) .mon-parcours_text-box .mon-parcours_text-box_titre {
    color: #997F54;
  }
  .mon-parcours_section .mon-parcours_container .mon-parcours_graphics {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 64px;
    padding: 0 0 0 0.5rem;
  }
  .mon-parcours_section .mon-parcours_container .mon-parcours_graphics .mon-parcours_graphics_img {
    margin: 1rem 0;
    width: 56px;
    content: url("../../assets/icons/SVG/pattern-red.svg");
  }
  .mon-parcours_section .mon-parcours_container .mon-parcours_graphics .mon-parcours_graphics_stroke {
    width: 8px;
    height: 100%;
    min-height: 150px;
    border-radius: 4px;
    background-color: #995c54;
  }
  .mon-parcours_section .mon-parcours_container .mon-parcours_text-box .mon-parcours_text-box_date {
    padding: 0 0 0 1rem;
  }
  .mon-parcours_section .mon-parcours_container .mon-parcours_text-box .mon-parcours_text-box_titre {
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    color: #995c54;
    padding: 0 2rem 0 0;
    -webkit-hyphens: none;
            hyphens: none;
  }
  .mon-parcours_section .mon-parcours_container .mon-parcours_text-box .mon-parcours_text-box_description {
    -webkit-hyphens: auto;
            hyphens: auto;
    padding: 0 2rem 0 0;
    text-align: justify;
    color: #545454;
  }
}/*# sourceMappingURL=styles.css.map */